


.button1 {
    width: 100px;
    height: 50px;
    background-color: blue;
    border-radius: 20%;
    border: 5px solid aquamarine;
}

.button2 {
    width: 100px;
    height: 50px;
    background-color:aquamarine;
    border-radius: 20%;
    border: 5px solid blue;
}